<% include ./partials/header %>


<div class="form-group"><span class="form-button" onclick="history.back();"><a>←Вернуться</a></span></div>

<div id="wrapper"class="margin-btm">
    <h1>Наши фрилансеры</h1>

    <% users.forEach(function(user){ %>
    <div id="featured-wrapper" class="<%= user.who %>">
            <div id="featured" class="margin-btm">
                <img class="img-box" src="<%= user.avatar %>">
            <div class="caption"><h2><%= user.username %></h2></div>   

                <div class="caption">
                    <p> <%= user.who %></p>
                    </div>

                    <div class="caption">
                        <p> FLR: <%= user.flr %></p>
                        </div>        

                  
    <!-- button -->
                <a href="/users/<%= user._id %>" class="button">Подробнее</a>             
        </div>
    </div>


    <% }); %>
   

</div>

<script>
    let orderer = document.querySelector('.orderer');
    
                [].forEach.call(document.querySelectorAll('.orderer'), function (el) {
                    el.style.display = 'none';
                })
            
</script>


<% include ./partials/footer %>