<% include ../partials/header %>



<div class="wrapper-content">
	<div class="container" >
		<div class="form">


    <div class="row">
        <h1> Название заказа: <span id="ct"><%= order.name %></span> </h1>
        
            <form action="/orders/<%=order._id%>?_method=PUT" method="POST">

                
                <div class="form-group">
                    <label for="name"></label>
                    <input class="form-control" type="text" name="name" id="name" value="<%= order.name %>" placeholder="Название объявления:" maxlength="18">
                </div>

                <div class="form-group">
                    <label for="image"></label>
                    <input class="form-control" type="text" name="image" id="image" value="<%= order.image %>"placeholder="Ссылка на картинку: https://img.">
                </div>

                <div class="form-group">
                    <label for="cost"></label>
                    <input class="form-control" type="number" name="cost" id="cost" value="<%= order.cost %>" placeholder="Бюджет в Руб.:" step="0" min="0" required>
                </div>

                <div class="form-group">
                    <div class="form-group">
						<label class="currency"> 
							<input name="category" class="currency__radio" type="radio" value="Design" checked>
							<span class="img__radio"><h5>Design</h5></span>
                        </label>
						<label class="currency">
							<input name="category" class="currency__radio" type="radio" value="Video">
							<span class="img__radio"><h5>Video</h5></span>
						</label>
						<label class="currency">
							<input name="category" class="currency__radio" type="radio" value="Text">
							<span class="img__radio"><h5>Text</h5></span>
                        </label>
						<label class="currency">
							<input name="category" class="currency__radio" type="radio" value="Graphics">
							<span class="img__radio"><h5>Graphics</h5></span>
						</label>
						<label class="currency">
							<input name="category" class="currency__radio" type="radio" value="Programming">
							<span class="img__radio"><h5>Programming</h5></span>
						</label>
						<label class="currency">
							<input name="category" class="currency__radio" type="radio" value="GameDev">
							<span class="img__radio"><h5>GameDev</h5></span>
						</label>
					</div>
                </div>

                <div class="form-group">
                    <label for="description"></label>
                    <textarea type="textarea" name="description" id="description" placeholder="Больше информации о проекте:" class="form_order"></textarea>
                </div>
                <div class="form-group">
                    <button class="form-button">Изменить</button>
                </div>

            </form>

                <div class="form-group"><span class="form-button" onclick="history.back();"><a>←Вернуться</a></span></div>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>

